/* .cnt-0{
    
} */
.cnt-1{
    position: relative;
    margin: 20px auto;
    border: 2px solid ;
    border-color: #DCDCDC;
    width: 600px;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
.cnt-1 h2{
    color: rgb(221, 132, 59);
}
.details{
    margin: 20px 10px;
    color: #555;
    font-weight: 600;
    font-size: 16px;
    /* text-shadow: 0 2px 3px #555; */
}
.details div{
    /* border-bottom: 1px solid #A8A8A8 ; */
    /* box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.22); */
    height: 30px;  
}

.actions{
    position: absolute;
    bottom: 15px;
    right: 0px;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: right;
}
button {
    background-color: #3b5998;
    padding: 2px 4px;
    border: none;
    color: white;
    outline: none;
}

.actions button{
    display: block;
    width: 100px;
    height: 25px;
    margin: 8px 0;
}

button:hover{
    background-color: red;
    cursor: pointer;
}